<div>
    <gnb-panel>
        <span slot="heading">Products</span>

        <div slot="body">
            <manage-modal :product.sync="newProduct"></manage-modal>

            <br>
            <br>

            <gnb-progress-bar v-if="pullingProducts"></gnb-progress-bar>

            <div v-else>
                <gnb-error-message :message="pullingProductsErrorMessage"
                                   v-if="pullingProductsErrorMessage"></gnb-error-message>

                <div v-else>
                    <gnb-progress-bar v-if="destroyingProduct"></gnb-progress-bar>

                    <div v-if="!productsPaginator || !productsPaginator.haveRecords()" class="alert alert-warning">
                        No products to display.
                    </div>

                    <table v-else class="table">
                        <thead>
                        <tr>
                            <th> #</th>
                            <th> Title</th>
                            <th> Price</th>
                            <th> Active</th>
                            <th> Actions</th>
                        </tr>
                        </thead>
                        <tr v-for="product in productsPaginator.data" transition="slideRight">
                            <td> {{ product.id }}</td>
                            <td> {{ product.title }}</td>
                            <td> {{ product.price | centsToDollars | currency }}</td>
                            <td> {{ product.is_active ? 'Yes' : 'No' }}</td>
                            <td>
                                <manage-modal :product.sync="product"></manage-modal>
                                <a @click="confirmDestroy(product)" class="btn btn-danger btn-sm">
                                    <i class="material-icons">delete</i>
                                </a>
                            </td>
                            <td>

                            </td>
                        </tr>
                    </table>

                </div>
            </div>
        </div>
    </gnb-panel>
</div>
