<gnb-panel>
    <div slot="body">
        <gnb-progress-bar v-if="!initialPullComplete && pullingOptInAuction"></gnb-progress-bar>

        <div v-else>
            <div v-if="!auction || pullOptInAuctionError" class="alert alert-danger">
                <span v-if="pullOptInAuctionError"> {{ pullOptInAuctionError }} </span>
                <span v-else>No auction found.</span>
            </div>
            <div v-else class="row">
                <div class="col-md-5">
                    <img :src="auctionImage" class="img-responsive">
                </div>
                <div class="col-md-7">
                    <h2>{{ auction.product.title }}</h2>
                    <h3> {{ auction.opt_in_ends_in }} until start</h3>
                    <p>
                        {{ auction.product.description }}
                    </p>

                    <gnb-progress-bar v-show="registeringForAuction"></gnb-progress-bar>
                    <p v-show="userIsRegisteredForCurrentOptIn" class="text-success">
                        <i class="material-icons">check</i>
                        You are registered for this auction.
                    </p>
                    <p v-show="!userIsRegisteredForCurrentOptIn && userIsLoggedIn && !registeringForAuction">
                        <button class="btn btn-primary" @click="register">
                            Register
                        </button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</gnb-panel>
